header {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
}

@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
.nav__content {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 599px) {
  .nav__content {
    justify-content: space-between;
  }
}
.nav__img {
  width: 130px;
  margin-right: 4rem;
}

.nav__links {
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 600px) {
  .nav__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 12rem;
    right: 0;
    background: white;
    width: 100%;
    text-align: center;
    z-index: 3;

    gap: 2rem;
    overflow: hidden;
    height: 0;
    transition: all 100ms;
  }

  .active {
    height: 150px;
    padding: 2rem;
  }
}

.nav__links ul a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
  color: var(--black-color);
  position: relative;
}

.nav__links ul a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 0.2rem;
  background: var(--blue-color);
  transition: all 200ms;
}
@media screen and (max-width: 600px) {
  .nav__links ul a::before {
    content: none;
  }
}

.nav__links ul a:hover::before {
  width: 100%;
}

.nav__links ul a:hover {
  color: var(--blue-color);
}

.nav__mobile {
  background: transparent;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 599px) {
  .nav__mobile {
    display: block;
  }
}

.nav__mobile i {
  font-size: 3rem;
}
.nav__mobile i:hover {
  color: var(--blue-color);
}
