.hero__container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 50% 40%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 885px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 885px) {
  .hero__container {
    top: 7rem;
  }
}

.hero__article {
  display: grid;
  gap: 2.7rem;
  padding: 1rem 0;
}

.hero__article h1 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}

.hero__article h1 span {
  color: var(--blue-color);
}

.hero__article p {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--black-opacity-color);
}

.hero__btns {
  display: flex;
  gap: 3.6rem;
  margin-top: 2.4rem;
  text-align: center;
}

@media screen and (max-width: 470px) {
  .hero__btns {
    flex-direction: column;
    gap: 2rem;
  }
}

.hero__image {
  z-index: 2;
}

@media screen and (max-width: 885px) {
  .hero__image {
    max-width: 400px;
  }
}

.hero__bg {
  position: absolute;
  background: #d9d9d9;
  height: 99%;
  width: 77%;
  right: -261px;
  top: 78px;
  transform: rotate(115deg);
}

@media screen and (max-width: 885px) {
  .hero__bg {
    height: 100%;
    width: 61%;
    right: -261px;
    top: 266px;
    transform: rotate(55deg);
  }
}

.btn.white {
  background: var(--white-color);
  color: var(--blue-color);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
}
