#testimonials {
  padding-top: 15rem;
}

.testimonials__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;
}

.testimonials__head p {
  font-weight: 500;
  line-height: 2rem;
  color: var(--black-opacity-color);
  max-width: 531px;
  text-align: center;
}

@media screen and (max-width: 670px) {
  .testimonials__head p {
    text-align: initial;
  }
}
.testimonials__container {
  margin-top: 7.1rem;
  overflow-x: hidden;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-color);
  padding: 10rem 10rem;
  min-height: 35rem !important;
}

.testimonial__text p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--black-opacity-color);
}

@media screen and (max-width: 530px) {
  .testimonial {
    padding: 5rem 5rem;
  }
  .testimonial__text p {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
}
